<ion-header>

        <ion-navbar>
          <ion-title text-center></ion-title>
        </ion-navbar>
      
      </ion-header>
<ion-content class="log">
  <div text-center class="header">
      <h3>LOGIN</h3>
      <p>Daily Resources for product developers</p>
  </div>
  <form novalidate (ngSubmit)="onLogin()" [formGroup]="user">
  <ion-card>
      <ion-card-header>
           <p><ion-icon name="mail"></ion-icon> Email Address: </p>
      </ion-card-header>
      <ion-card-content>
          <ion-input type="email" value="" name="emailid" formControlName="email"></ion-input>
      </ion-card-content>
  </ion-card>
  <ion-item no-lines *ngIf="( user.get('email').hasError('required') || user.get('email').hasError('pattern') ) && user.get('email').touched">

    <span class="error" *ngIf="user.get('email').hasError('required') && user.get('email').touched">
    *Email is required
    </span>
    
    <span class="error" *ngIf="user.get('email').hasError('pattern') && user.get('email').touched">
    *Please enter valid email
    </span>
    
  </ion-item>
  <ion-card class="password">
      <ion-card-header>
          <p><ion-icon name="lock"></ion-icon> Password:  <a href="#" float-right>Forgot?</a></p>
      </ion-card-header>
      <ion-card-content>
        <ion-input type="password" value="" name="password" formControlName="pass"></ion-input>
      </ion-card-content>
     </ion-card>
     <ion-item no-lines *ngIf="( user.get('pass').hasError('minlength') || user.get('pass').hasError('required') ) && user.get('pass').touched">

      <span class="error" *ngIf="user.get('pass').hasError('required') && user.get('pass').touched">
      *Password is required
      </span>
      <span class="error" *ngIf="user.get('pass').hasError('minlength') && user.get('pass').touched">
      *Minimum of 6 characters
      </span>
      </ion-item>
  <div padding>
    <button ion-button color="primary" block type="submit" [disabled]="user.invalid">LogIn</button>
  </div>
</form>
  <div text-center class="register">
      Not Yet Register <a (click)="gotoSignUp()">Register now</a>
  </div>
</ion-content>
<ion-footer text-center>
    <p>Along with community of 500,000+ people</p>
    <p>Designers and devlopers</p>
</ion-footer>