page-cookdish {
    
    .back-button.show-back-button{
        color:#fff;
    }
    .item-ios{
        margin-bottom: 2rem;
    }
    [padding] h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child{
        margin-top: 2rem
    }
    .row{
        margin-top: 1rem;
    }
    .continue{
        margin-top: 10rem;
    }
}
