page-about-you {
    input[type="radio"] {
        margin-left: 4rem;
        margin-top: 2rem;
    }
    .imagecontainers img{
        width: 88%;
    }
        .about{
        margin-top: 10rem;
    }
    .back-button.show-back-button{
        color:#fff;
    }
    ion-app.md [padding] .scroll-content{
        margin-top: 0;
    }
    
}
